<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
  <div *ngIf="action=='Ask'" class="modal">
      <div class="modal-content">
          <app-ask-to-specialist [subject]="product.name"></app-ask-to-specialist>
      </div>
      <img class="close" src="assets/close.png" alt="close" (click)=close()>
  </div>
  <div *ngIf="action=='Bid'" class="modal">
      <div class="modal-content">
          <app-make-offer [product]="product"></app-make-offer>
      </div>
      <img class="close" src="assets/close.png" alt="close" (click)=close()>
  </div>
  <button class="button float float-right" (click)=ask()>Ask to an specialist</button>
  <button class="button float float-right" (click)=bid()>Make an offer</button>
</div>

