<div id="title">
    <div class="overlay"></div>
    <div id="title-band">
      <h1>
        {{ settings.title | uppercase }}
      </h1>
    </div>
  
  
  </div>
  <div id="content">
    <div class="overlay"></div>
    <app-form [hidden]="currentStep==0" [model]="offer['identity']" [fields]="settings.content" name="identity" [action]="settings.action"
      [onsubmit]="next.bind(this)" [order]="settings.sortBy"></app-form>
    <app-form [hidden]="currentStep==1" [model]="offer" [fields]="settings.content" name="offer" [action]="settings.action"
      [onsubmit]="next.bind(this)" [order]="settings.sortBy"></app-form>
  </div>
